* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0;
  }

.sub-container {
  min-height: 100vh;  
}

h2 {
    font-family: Happy Times at the IKOB New Game Plus Edition;
    font-size: 56px;
    font-weight: 400;
}

p {
    font-family: Inter;
    font-weight: 300;
    font-size: 18px;
    line-height: 180%
}

.subtitle {
    font-family: Inter;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    padding: 24px 0 8px 0;
}

.italic-sub {
    font-family: Happy Times at the IKOB New Game Plus Edition;
    font-style: italic;
    font-size: 16px;
}

a {
    font-family: Happy Times at the IKOB New Game Plus Edition;
    font-size: 18px;
}


