* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0% 8%;
  }

h1 {
    font-family: Happy Times at the IKOB New Game Plus Edition;
    font-size: 56px;
}

p {
    font-family: Inter;
    font-weight: 300;
    font-size: 18px;
    line-height: 180%
}

.subtile {
    font-family: Inter;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
}

.italic-sub {
    font-family: Happy Times at the IKOB New Game Plus Edition;
    font-style: italic;
    font-size: 16px;
}

a {
    font-family: Happy Times at the IKOB New Game Plus Edition;
    font-size: 18px;
}


