.more-info {
    display: flex;
}

.resume {
    text-decoration: none;
    color: #080A0D;
}

.about-section-content {
    padding: 0% 8% 100px 35%;
}

.about-socials {
    margin: 0px 16px;
}

.about-socials a {
    margin-left: 8px;
}

svg:hover {
    color: #1150FE;
}

a {
    text-decoration: none;
    color: #080A0D;
}

.resume:hover {
    color: #1150FE;
}

.contact:hover {
    color: #1150FE;
}

@media screen and (max-width:480px) {
    .about-section-content {
        padding: 0% 8% 100px 16%;
    }
}