.banner {
    height: 100vh;
    padding: 0% 8%;
}
h1 {
    font-family: Happy Times at the IKOB New Game Plus Edition;
    font-size: clamp(4rem, 6vw, 6rem);
    font-style: italic;
    font-weight: 400;
    text-align: left;
    


    font-family: Happy Times at the IKOB New Game Plus Edition;
    font-size: clamp(4rem, 6vw, 6rem);
    font-style: normal;
    font-weight: 400;
    text-align: left;
}

.hero-banner p {
    font-family: Happy Times at the IKOB New Game Plus Edition;
    font-size: clamp(1.125rem, 2vw, 2rem);
    font-style: italic;
    font-weight: 400;
    text-align: left;
}

.hero-banner {
    /* padding: 25% 0% 0% 30%; */
    padding: 20rem 0% 0% 30%;
}

.animated {
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

.bounce {
    animation-name: bounce;
}

.line {
    border: 1px solid #000000;
    transform: rotate(90deg);
    position: absolute;
    width: 105px;
    height: 0px;
    left: 85%;
    top: 80%;
}

.scroll-text {
    border-left: 2px solid black;
    display: flex;
    writing-mode: vertical-lr;
    text-transform: uppercase;
    position: absolute;
    left: 90%;
    top: 76%;
    font-family: Inter;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    padding: 0 1% 2% 1%;
}

@media screen and (max-width: 768px) {
    .hero-banner {
        padding: 20rem 0% 0% 8%;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: clamp(2rem, 6vw, 6rem);
    }

    .hero-banner p {
        font-size: clamp(1rem, 2vw, 2rem);
    }
}