.banner {
    height: 100vh;
    padding: 0% 8%;
}
h1 {
    font-family: Happy Times at the IKOB New Game Plus Edition;
    font-size: 88px;
    font-style: italic;
    font-weight: 400;
    line-height: 102px;
    letter-spacing: 0em;
    text-align: left;
    


    font-family: Happy Times at the IKOB New Game Plus Edition;
    font-size: 88px;
    font-style: normal;
    font-weight: 400;
    line-height: 102px;
    letter-spacing: 0em;
    text-align: left;
}

.hero-banner p {
    font-family: Happy Times at the IKOB New Game Plus Edition;
    font-size: 24px;
    font-style: italic;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
}

.hero-banner {
    padding: 15% 0% 0% 30%;
}

.animated {
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
}

.bounce {
    animation-name: bounce;
}

.line {
    border: 1px solid #000000;
    transform: rotate(90deg);
    position: absolute;
    width: 105px;
    height: 0px;
    left: 85%;
    top: 80%;
}

.scroll-text {
    border-left: 2px solid black;
    display: flex;
    writing-mode: vertical-lr;
    text-transform: uppercase;
    position: absolute;
    left: 90%;
    top: 76%;
    font-family: Inter;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    padding: 0 1% 2% 1%;
}
