.details-flex {
    display: flex;
    justify-content: flex-end;
    margin: 0% 8% 0% 47%;
}

.details:first-child {
    margin-right: 10%;
}

.context-content {
    margin-top: 6%;
    padding: 0 8% 0 30%;
}

.links-flex {
    margin: 8% 0;
}

/* can't seem to have hover on link */
.links-flex:hover {
    color: #1150FE;
}

.link-project{
    margin-right: 8%;
}

.link-bold {
    font-weight: 700;
}

.parent {
    position: relative;
}

.div-flex-solution {
    display: flex;
    padding: 0 8% 0 30%;
    position: absolute;
    top: 0;
    z-index: 100;
}

.research {
    margin-top: 30%;
    padding: 0 8%;
    background-color: #171F26;
    color: #FAFAFA;
}

.research h2 {
    padding-top: 8%;
}

.mockup-name {
    align-self: flex-end;
    padding-bottom: 2.5%;
}

.scmockup {
    margin: 8% 1% 0% 0%;
}

.div-flex-left {
    display: flex;
}
.div-flex-right {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 8%;
}

.mlmockup {
    margin: 8% 0% 0% 3%;
}

.bigcell-img {
    margin: 8% 0% 0% 8%;
}