.details-flex {
    display: flex;
    margin: 0% 8% 0% 60%;
}

.details:first-child {
    margin-right: 10%;
}

.context-content {
    margin-top: 6%;
    padding: 0 8% 0 30%;
}

.links-flex {
    margin: 8% 0;
}

/* can't seem to have hover on link */
.links-flex:hover {
    color: #1150FE;
}

.link-project{
    margin-right: 8%;
}

.link-bold {
    font-weight: 700;
}

.div-flex {
    display: flex;
}

.research {
    padding: 0 8%;
    background-color: #171F26;
    color: #FAFAFA;
}

.research h2 {
    padding-top: 8%;
}

.mockup-name {
    align-self: flex-end;
    padding-bottom: 2.5%;
}

.scmockup {
    margin-left: 0%;
    margin-right: 1%;
}

.div-flex-right {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 8%;
}

.mlmockup {
    margin-left: 3%;
}