.details-flex {
    display: flex;
    justify-content: flex-end;
    margin: 0% 8% 0% 47%;
}

.details:first-child {
    margin-right: 10%;
}

.context-title {
    padding-bottom: 8%;
}

.context-content {
    margin-top: 6%;
    padding: 0 8% 0 30%;
}

.links-flex {
    margin: 20px 0;
}

/* can't seem to have hover on link */
.links-flex:hover {
    color: #1150FE;
}

.link-project{
    margin-right: 8%;
}

.link-bold {
    font-weight: 700;
}

.parent {
    position: relative;
}

.div-flex-solution {
    display: flex;
    padding: 0 8% 0 30%;
    position: absolute;
    top: 0;
    z-index: 100;
}

.research {
    /* margin-top: 30%; */
    margin-top: 360px;
    padding: 8% 8%;
    background-color: #171F26;
    color: #FAFAFA;
}

.research h2 {
    /* padding-top: 8%; */
}

.mockup-name {
    align-self: flex-end;
    padding-bottom: 2.5%;
}

.scmockup {
    margin: 8% 1% 0% 0%;
}

.div-flex-left {
    display: flex;
}
.div-flex-right {
    display: flex;
    justify-content: flex-end;
}

.mlmockup {
    margin: 8% 0% 0% 3%;
}

.bigcell-img {
    margin: 8% 0% 0% 8%;
}

@media screen and (max-width:768px) {
    .research {
        margin-top: 55%;
    }
}

@media screen and (max-width:480px) {
    .research {
        margin-top: 80%;
    }

    .context-content {
        padding: 0% 8% 0px 8%;
    }
    
    .div-flex-solution {
        padding: 0% 8% 100px 8%;
    }

    .bigcell-img {
        /* margin: 8% 0% 0% 8%; */
        display: none;
    }

    .research {
        margin-top: 360px;
    }

    .details-flex {
        display: flex;
        justify-content: flex-end;
        margin: 0% 8% 0% 32%;
    }

    .context-content {
        margin-top: 8%;
    }

    .div-flex-right {
        padding-bottom: 4%;
    }
}