.design {
    padding: 8% 8%;
}
.design h2 {
    /* padding-top: 8%; */
}

.design-p {
    /* width: max(640px); */
    /* max-width: 640px; */
}

.design-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 54px;
    margin: 8% 0% 8% 0%;
}

.design-element-img {
    padding-right: 3%;
}
