.footer {
    display: flex;
    justify-content: space-between;
    margin: 8% 8% 2% 8%;
    opacity: 0.4;
}

.footer p {
    font-size: 14px;
}

.footer-socials {
    display: flex;

}
.footer-socials a {
    margin-left: 8px;
}