.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 15vh;
    font-family: Happy Times at the IKOB New Game Plus Edition;
    padding: 0% 8%;
}

.nav-logo {
    display: flex;
}

.nav-items a {
    text-decoration: none;
    color: #080A0D;
    font-size: 0.90rem;
}

.nav-items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
    
}

.nav-items a:hover {
    color: #1150FE;
    cursor: pointer;
}

nav .burger {
    font-size: 20px;
    display: none;
}



@media all and (max-width: 768px) {
    nav .burger {
        display: block;
        cursor: pointer;
    }

    nav .nav-items {
        position: absolute;
        display: block;
        top: 0;
        right: 0;
        height: 100vh;
        width: 50%;
        background-color: #E0E0E0;
        padding: 40px;
        transform: translateX(500px);
        transition: 0.5s ease-in-out;
    }
    
    nav .nav-items li {
        padding: 20px;
        border-bottom: 1px solid #080A0D;
    }

    .nav-items a:hover {
        color: #080A0D;
    }
}