.next-container {
    padding: 0% 8%;
    margin-top: 8%;
}

.next-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 8% 0% 8% 0%;
}

.next-section-line {
    width: 92%;
    height: 0px;
    border: 1px solid #000000;
    margin: 0% 0% 8% 8%;
}

.next-title {
    margin-top: 100px;
}

@media screen and (max-width:768px) {
    .next-title {
        margin-top: 60px;
    }
}

@media screen and (max-width:480px) {
    .next-content {
        display: block;
    }
    .next-title {
        margin-top: 20px;
    }
}