.outcome-section {
    background-color: #171F26;
    padding: 8%;
    color: #FAFAFA;
}

.outcome-section a {
    color: #FAFAFA;
}

.outcome-text {
    padding: 0% 0% 8% 30%;
}

@media screen and (max-width:480px) {
    .outcome-text {
        padding: 0%;
    }
    .outcome-section {
        padding: 16% 8%;
    }
}