.project-title {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.project-hero {
    display: flex;
    margin: 0% 0% 8% 8%;
}

.project-img {
    margin: 8% 0% 0% 8%;
}

.project-section-line {
    width: 92%;
    height: 0px;
    border: 1px solid #000000;
    margin: 0% 0% 3% 8%;
}

@media screen and (max-width:768px) {
    .project-img {
        margin: 16% 0% 0% 8%;
    }
}

@media screen and (max-width:480px) {
    
    .project-img {
        margin: 35% 0% 0% 0%;
    }

    .project-title {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        font-size: 1.5rem;
        padding-bottom: 32%;
    }
}