.section-line {
    /* position: absolute; */
    width: 92%;
    height: 0px;
    border: 1px solid #000000;
    margin: 0% 0% 8% 8%;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0% 0% 8% 8%;
}

ul {
    list-style: none;
}