.section-line {
    /* position: absolute; */
    width: 100vw;
    height: 0px;
    border: 1px solid #000000;
    margin-bottom: 8%;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 8%;
}

ul {
    list-style: none;
}